#root {
  max-width: 900;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  object-fit: cover;
  border-radius: 5%;
}

@media only screen and (max-width: 900px) {
  img {
    max-width: 100%;
    width: auto;
  }
}
